# Strings

# String Data Type

In [1]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)

Hellothere

In [2]:
str3 = '123'
str3 = str3 + 1

TypeError: can only concatenate str (not "int") to str

In [3]:
x = int(str3) + 1
print(x)

124

# Reading and Converting

In [5]:
name = input('Enter:')
print(name)

Enter:arooba
arooba

In [7]:
apple = input('Enter:')
x = apple - 10

Enter:100

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [8]:
x = int(apple) - 10
print(x)

90

# Looking Inside Strings

In [9]:
fruit = 'banana'
letter = fruit[1]
print(letter)

a

In [10]:
x = 3
w = fruit[x - 1]
print(w)

n

# A Character Too Far

In [11]:
zot ='abc'
print(zot[5])

IndexError: string index out of range

# Strings Have Length

In [13]:
#len function
fruit = 'banana'
x = len(fruit)
print(x)

6

# Looping Through Strings

In [14]:
fruit = 'banana'
index = 0
while index < len(fruit): 
    letter = fruit[index]
    print(index, letter)
    index = index + 1

0 b
1 a
2 n
3 a
4 n
5 a

In [15]:
fruit = 'banana'
for letter in fruit: 
    print(letter)

b
a
n
a
n
a

# Looping and Counting

In [16]:
word = 'banana'
count = 0
for letter in word :
    if letter == 'a' :
        count = count + 1
print(count)

3

In [18]:
for letter in 'banana' :
    print(letter)
#letter is iteration varible
#banana is string

b
a
n
a
n
a

# Slicing Strings

In [21]:
s = 'Monty Python'
print(s[0:4])
print(s[6:7])
print(s[6:20])

Mont
P
Python

In [22]:
s = 'Monty Python'
print(s[:2])
print(s[8:])
print(s[:])

Mo
thon
Monty Python

# String Concatenation

In [23]:
a = 'Hello'
b = a + 'There'
print(b)
c = a + ' ' + 'There'
print(c)

HelloThere
Hello There

# Using in as a Logical Operator

In [25]:
fruit = 'banana'
'n' in fruit
'm' in fruit
'nan' in fruit
if 'a' in fruit :
    print('Found it!')

Found it!

# String Comparison

In [26]:
if word == 'banana':
    print('All right, bananas.')
if word < 'banana':
    print('Your word,' + word + ', comes before banana.')
elif word > 'banana':
    print('Your word,' + word + ', comes after banana.')
else:
    print('All right, bananas.')

All right, bananas.
All right, bananas.

# String Library

In [28]:
greet = 'Hello Bob'
zap = greet.lower()
print(zap)
print(greet)
print('Hi There'.lower())

hello bob
Hello Bob
hi there

# Searching a String

In [29]:
fruit = 'banana'
pos = fruit.find('na')
print(pos)
aa = fruit.find('z')
print(aa)

2
-1

# Making everything UPPER CASE

In [30]:
greet = 'Hello Bob'
nnn = greet.upper()
print(nnn)
www = greet.lower()
print(www)

HELLO BOB
hello bob

# Search and Replace

In [31]:
greet = 'Hello Bob'
nstr = greet.replace('Bob','Jane')
print(nstr)
nstr = greet.replace('o','X')
print(nstr)

Hello Jane
HellX BXb

# Stripping Whitespace

In [34]:
greet = '    Hello Bob' 
greet.lstrip()

'Hello Bob'

In [35]:
greet='    hello bob'
greet.rstrip()

'    hello bob'

In [38]:
greet='   hello bob'
greet.strip()

'hello bob'

# Prefixes

In [40]:
line = 'Please have a nice day'
line.startswith('Please')

True

In [42]:
line='Please have a nice day'
line.startswith('p')

False

# Parsing and Extracting

In [43]:
data = 'From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008'
atpos = data.find('@')
print(atpos)
sppos = data.find(' ',atpos)
print(sppos)
host = data[atpos+1 : sppos]
print(host)

21
31
uct.ac.za