In [2]:
print('constant')

constant

In [3]:
print(123)

123

In [4]:
print('we can not use reserve words as variable')

we can not use reserve words as variable

In [5]:
class=45

SyntaxError: invalid syntax (1519007822.py, line 1)

In [6]:
print('variable')

variable

In [7]:
x=22
y=99
z=x+y
print(z)

121

In [8]:
x-y

-77

In [9]:
x=100
z=x+y
print(z)

199

In [10]:
x=x+9
print(x)

109

In [11]:
print('Assignment statements')

Assignment statements

In [12]:
x=3.9*x*(1-x)
print(x)

-45910.799999999996

In [13]:
print('expression')

expression

In [14]:
m=8
m=m+2
print(m)

10

In [15]:
w=6
w=w*6
print(w)

36

In [16]:
a=w/2
print(a)

18.0

In [17]:
print(5**2)

25

In [18]:
print(a+w)

54.0

In [19]:
print('order of evaluation')

order of evaluation

In [20]:
x=1+2*3-4/5**6
print(x)

6.999744

In [21]:
print('type')

type

In [22]:
aa='arooba'+'arshad'
print(aa)

aroobaarshad

In [23]:
aa=aa+1
print(aa)

TypeError: can only concatenate str (not "int") to str

In [24]:
type(aa)

str

In [25]:
aa=1
type(aa)

int

In [26]:
temp=88.9
type(temp)

float

In [27]:
sum=temp+2
print(sum)

90.9

In [28]:
print(float(22)+8)

30.0

In [29]:
print('integer division results floating point')

integer division results floating point

In [30]:
print(20/2)

10.0

In [31]:
kang='123'
type(kang)

str

In [32]:
print(kang+1)

TypeError: can only concatenate str (not "int") to str

In [33]:
tang=int(kang)
type(tang)

int

In [34]:
print(tang+1)

124

In [35]:
u='abc'
type(u)

str

In [36]:
w=int(u)
type(w)

ValueError: invalid literal for int() with base 10: 'abc'

In [37]:
print('user input')

user input

In [38]:
van=input('who are you?')
print('welcome',van)

who are you?Arooba Arshad
welcome Arooba Arshad

In [39]:
inp=input('which floor?')
pik=int(inp)+1
print('us floor',pik)

which floor?first

ValueError: invalid literal for int() with base 10: 'first'

In [40]:
inp=input('which floor?')
pik=int(inp)+1
print('us floor',pik)

which floor?1
us floor 2

In [1]:
print('comments in python')

comments in python

In [2]:
#get name of the file
name=input('my repo:')

my repo:abc

In [4]:
hours_worked=float(input("enter hours worked: "))
hourly_rate=float(input("enter hourly rate: "))
gross_pay=hours_worked*hourly_rate
print(gross_pay)

enter hours worked: 35
enter hourly rate: 2.75
96.25